@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px 120px;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(https://t3.ftcdn.net/jpg/04/57/92/32/360_F_457923238_8zmuShXTsS2CdsXisZSIutaBqKzl5haw.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span {
  font-size: 2.8em;
  font-weight: 600;
}

.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.animated-text h3 {
  color: #4e9eff;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}

.btn {
  color: #fff;
  background: #3a6cf4;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin-top: 30px;
  transition: 0.5s ease;
}

.btn:hover {
  background: #235bf6;
}

.media-icons {
  margin-top: 50px;
}

.media-icons a {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
}

header {
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky {
  background: #3a6cf4;
  padding: 10px 200px;
}

header .brand {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation ul {
  list-style-type: none;
}

header .navigation li {
  float: left;
}

header .navigation a {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .navigation a:hover {
  color: #3a6cf4;
}

header.sticky .navigation a:hover {
  color: #000;
}

body {
  min-height: 110vh;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title:before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: #3a6cf4;
  transform: translateX(-50%);
}

.section-title:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3a6cf4;
  transform: translateX(-50%);
}

.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 45%;
}

.about .content .col-right {
  position: relative;
  width: 50%;
}

.about .content .col-left .img-card {
  position: relative;
  width: 100%;
  min-height: 450px;
}

.about .content .col-left .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 16%;
  border: 3px solid rgb(228, 226, 226);
}

.about .content .col-right .content-title {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.about .content .col-right .paragraph-text {
  font-size: 1em;
}

.skills {
  background: #000016;
}

.skills .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}

.skills .content .col-left {
  position: relative;
  width: 46%;
}

.skills .content .col-left .content-title {
  margin-bottom: 20px;
}

.skills .content .col-right {
  position: relative;
  width: 46%;
}

.skills .content .col-right .bar {
  margin-bottom: 15px;
  padding: 10px;
}

.skills .content .col-right .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .content .col-right .bar .info span {
  font-size: 18px;
  font-weight: 500;
}

.skills .content .col-right .bar .line {
  position: relative;
  width: 100%;
  height: 15px;
  background: #ccc;
  border-radius: 2px;
}

.skills .content .col-right .bar .line:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
}

.skills .content .col-right .bar .html:before {
  width: 95%;
  background: #e45126;
}

.skills .content .col-right .bar .css:before {
  width: 90%;
  background: #0c73b8;
}

.skills .content .col-right .bar .javascript:before {
  width: 80%;
  background: #e3a324;
}

.skills .content .col-right .bar .jquery:before {
  width: 80%;
  background: #30dd6d;
}

.skills .content .col-right .bar .php:before {
  width: 75%;
  background: #6d7eb8;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.title p {
  font-size: 1em;
  width: 80%;
}

.services .content .card {
  background: #fff;
  width: 340px;
  margin: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.services .content .card .service-icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
  transition: transform 0.5s ease;
}

.services .content .card:hover .service-icon {
  transform: translateY(-10px);
}

.services .content .card .info {
  text-align: center;
}

.services .content .card .info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.work {
  background: #000016;
}

.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .card {
  width: 340px;
  margin: 15px;
}

.work .content .card .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}

.work .content .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}

.work .content .card .card-img img:hover {
  transform: scale(1.2);
}

.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card {
  background: #fff;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.contact .content .row .card .contact-icon {
  color: #3a6cf4;
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon {
  transform: translateY(-10px);
}

.contact .content .row .card .info {
  text-align: center;
}

.contact .content .row .card .info h3 {
  color: #111;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.contact .content .row .card .info span {
  color: #666;
  font-weight: 500;
}

.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.contact-form h3 {
  color: #111;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #111;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}

.contact-form .input-box .send-btn {
  color: #fff;
  background: #3a6cf4;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover {
  background: #235bf6;
}

.footer {
  background: #000016;
  color: #fff;
  text-align: center;
  padding: 2em;
}

.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer p {
  font-size: 16px;
  margin-top: 10px;
}

.footer p a {
  color: #3a6cf4;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
  }

  header .navigation a {
    color: #000;
    font-size: 1.2em;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation li {
    float: none;
    padding: 10px 0;
  }

  header .navigation a:hover {
    background: #3a6cf4;
    color: #fff;
    transition: 0.3s ease;
  }

  .menu-btn {
    position: absolute;
    background: url(images/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(images/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1);
  }

  section {
    padding: 80px 20px;
  }

  .main .content h2 {
    font-size: 1em;
  }

  .animated-text h3 {
    font-size: 2.2em;
  }

  .section-title {
    font-size: 1.8em;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .column {
    position: relative;
    width: 100%;
  }

  .about .content .col-right {
    margin-top: 40px;
  }

  .skills .content {
    flex-direction: column;
  }

  .skills .content .column {
    position: relative;
    width: 100%;
  }

  .skills .content .col-right {
    margin-top: 40px;
  }

  .contact-form {
    padding: 35px 40px;
  }
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: #3a6cf4;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

#para22 {
  font-size: 20px;
}

#h22 {
  font-size: 42px;
  margin-top: 8%;
}

#prachiImg {
  border-radius: 12px;
}

.iconImage {
  height: 15%;
  width: 18%;
  margin-left: 5%;
  margin-bottom: 6%;
}

#jsicon {
  height: 15%;
  width: 18%;
}

#reacticon {
  height: 15%;
  width: 18%;
}

#card1 {
  width: 40%;
  height: 30%;
  font-size: 15px;
}

#isGap22 {
  margin-top: 4%;
  margin-bottom: 2%;
}

#headingColor {
  color: #01576d;
}

.mainDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  border: 5px solid #3a6cf463;
  border-radius: 15px;
  margin-bottom: 4%;
  /* border:  1px solid red; */
}

.mainDiv > div {
  width: 100%;
  /* height: auto; */
  /* margin-bottom: 4%; */
  /* border: 1px solid red; */
}

#projectDes {
  color: white;
  font-size: 16px;
  margin-left: 6%;
  height: auto;
  margin-bottom: 20px;
}

#des2 {
  margin-bottom: 2%;
  font-size: 17px;
}

#head2 {
  margin-top: 4%;
  margin-bottom: 1%;
  font-size: 18px;
}

.projectImage {
  border: 5px solid rgb(6, 0, 36);
  height: 55%;
  width: 100%;
  z-index: 100%, 50%;
  /* margin-top: 10%; */
  /* display: flex;
  justify-content: center; */
  /* margin-top: 15%; */

  /* margin-left: -15%; */
  border-radius: 15px;
}

#hcolor {
  color: #5bd6ff;
  font-size: 30px;
  margin-bottom: 1%;
}

#hcolorp {
  color: #ffb6d2;
  font-size: 38px;
  margin-bottom: 1%;
}

#hcolory {
  color: #ff9a57;
  font-size: 38px;
  margin-bottom: 1%;
}

.btnIs {
  height: 12%;
  margin-top: 0%;
  width: 57%;
  display: flex;
  justify-content: space-between;
}

.btns {
  width: 35%;
  height: 75%;
  font-size: 15px;
  border-radius: 9% 25% 9% 25%;
  font-weight: bolder;
  padding: 3px 2px;
  border: none;
 
  
}

#btn1 {
  background-color: rgb(88, 133, 255);
}

#btn2 {
  background-color: rgb(109, 220, 253);
}

#btn3 {
  background-color: rgb(248, 133, 171);
}

#btn4 {
  background-color: rgb(255, 203, 211);
}

#btn5 {
  background-color: rgb(255, 166, 82);
}

#btn6 {
  background-color: rgb(255, 234, 113);
}

#fontosm {
  width: 30%;
  height: 15%;
  padding: 4%;
  text-align: center;
  font-size: 20px;
  border: 2px solid rgb(221, 220, 220);
}

.rowIs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 36%;
  margin-bottom: 5%;
}

.contact-icon {
  margin: auto;
  width: 35%;
  height: 70%;
}

#atag {
  text-decoration: none;
  color: black;
}

#cicin {
  text-decoration: none;
  color: #000;
}

@media (max-width: 600px) {
  .stats1 {
    width: 85%;

    margin: auto;
  }

  .stats2 {
    width: 85%;

    margin: auto;
  }

  #card1 {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .content {
    display: block;
  }

  .mainDiv {
    display: block;
    height: auto;
    /* width: 100%; */
    /* margin: auto; */
    border: 5px solid #3a6cf463;
    border-radius: 15px;
    margin-bottom: 50px;
  }

  /* .projectImage{
    width: 80%;
    height: auto;
    margin-left: 12.5%;
    
  }

  #projectDes{
    width: 90%;
    height:auto;
    border: 1px solid red;
    margin-top: -50%;
  } */
  #projectDes {
    width: 90%;
  }

  .btns {
    height: 40px;
    width: 100px;
    /* justify-content:space-between; */
  }

  .btnIs {
    gap: 20px;
  }

  .rowIs {
    display: block;
    margin-top: 2%;
  }

  #fontosm {
    margin: auto;
    width: 80%;
    margin-top: 4%;
    height: 100%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container1 {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: #3a6cf4;
  margin: auto;
}
.container1 .content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container1 .content1 .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content1 .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content1 .left-side .details {
  margin: 14px;
  text-align: center;
}
.content1 .left-side .details i {
  font-size: 30px;
  color: #3a6cf4;
  margin-bottom: 10px;
}
.content1 .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content1 .left-side .details .text-one,
.content1 .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.container1 .content1 .right-side {
  width: 75%;
  margin-left: 75px;
}
.content1 .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3a6cf4;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3a6cf4;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .container1 {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container1 .content1 .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container1 {
    margin: 40px 0;
    height: 100%;
  }
  .container1 .content1 {
    flex-direction: column-reverse;
  }
  .container1 .content1 .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container1 .content1 .left-side::before {
    display: none;
  }
  .container1 .content1 .right-side {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 315px) {
  #hcolor {
    font-size: 25px;
  }
  .sticky,
  .brand {
    font-size: 25px !important;
  }
  .section-title {
    margin-bottom: none;
  }

  .contrib-number {
    font-size: small !important;
  }
  .contrib-column {
    padding: 10px 0 !important;
    text-align: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 11px;
  }
}
.abtn{
  background-color: rgb(109, 220, 253);
  display :flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 15px;
  border-radius: 9% 25% 9% 25%;
  font-weight: 700;
  text-decoration: none;

  
}
.bbtn{
 
  display :flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 15px;
  border-radius: 9% 25% 9% 25%;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(88, 133, 255);

  
}
