/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*::::::::::::::::::::::::::::::::::::
       Main Menu
    ::::::::::::::::::::::::::::::::::::*/
  .navbar.navbar-expand-lg.fixed-top {
    position: static;
    background-color: #000;
  }
  button.navbar-toggler {
    color: #fff;
  }

  .navbar-nav {
    background-color: #333;
    margin-top: 30px;
  }
  .nav-item {
    border-bottom: 1px solid;
  }
  nav .main-menu .navbar-nav .nav-item .nav-link {
    padding: 15px 15px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Hero Area 
    ::::::::::::::::::::::::::::::::::::*/
  .hero-content h2 {
    font-size: 70px;
  }
  /*::::::::::::::::::::::::::::::::::::
       About Area
    ::::::::::::::::::::::::::::::::::::*/
  .about-content {
    margin-top: 30px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Service Section
    ::::::::::::::::::::::::::::::::::::*/
  .service-area::before {
    height: 100%;
  }

  /*::::::::::::::::::::::::::::::::::::
       Skill Section
    ::::::::::::::::::::::::::::::::::::*/
    .skilldiv{
      grid-template-columns: repeat(3,200px);
    }

  /*::::::::::::::::::::::::::::::::::::
       Frequently asked questions
    ::::::::::::::::::::::::::::::::::::*/
  .faq-content {
    margin-top: 15px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Call to Action Area
    ::::::::::::::::::::::::::::::::::::*/
  .cta-button {
    text-align: left;
    margin-top: 15px;
  }

  .single-p {
    height: 700px;
  }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
  /*::::::::::::::::::::::::::::::::::::
       Section Title
    ::::::::::::::::::::::::::::::::::::*/
  .section-title h2 {
    font-size: 24px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Main Menu
    ::::::::::::::::::::::::::::::::::::*/
  .navbar.navbar-expand-lg.fixed-top {
    position: static;
    background-color: #000;
  }
  button.navbar-toggler {
    color: #fff;
  }

  .navbar-nav {
    background-color: #333;
    margin-top: 30px;
  }
  .nav-item {
    border-bottom: 1px solid;
  }
  nav .main-menu .navbar-nav .nav-item .nav-link {
    padding: 15px 15px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Hero Area 
    ::::::::::::::::::::::::::::::::::::*/
  .hero-aria,
  .hero-area-slids,
  .single-slider {
    height: 440px;
  }
  .hero-content h2 {
    font-size: 30px;
  }

  .hero-content h3 {
    font-size: 15px;
    margin: 15px 0;
  }

  .hero-aria::after {
    width: 80%;
  }
  .hero-content {
    max-width: 70%;
  }

  /*::::::::::::::::::::::::::::::::::::
       Featured Area
    ::::::::::::::::::::::::::::::::::::*/
  .single-featured-item-wrap h3 {
    font-size: 20px;
  }
  .featured-icon {
    font-size: 40px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Portfolio Section
    ::::::::::::::::::::::::::::::::::::*/
  .work-list ul li {
    margin-bottom: 5px;
  }
  .portfolio-hover h4 {
    font-size: 18px;
  }
  .portfolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  #gitstats {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 50px;
  }
  .single-portfolio {
    width: 90%;
    margin: auto;
  }

  /*::::::::::::::::::::::::::::::::::::
       About Area
    ::::::::::::::::::::::::::::::::::::*/
  .about-content {
    margin-top: 30px;
  }
  .about-content h2 {
    font-size: 24px;
  }
  .about-content h4 {
    font-size: 16px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Service Section
    ::::::::::::::::::::::::::::::::::::*/
  .service-area::before {
    height: 100%;
  }

  .single-service h2 {
    font-size: 24px;
  }

  .service-icon {
    font-size: 45px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Skill Section
    ::::::::::::::::::::::::::::::::::::*/
    .skilldiv{
      grid-template-columns: repeat(2,200px);
    }

  /*::::::::::::::::::::::::::::::::::::
       Frequently asked questions
    ::::::::::::::::::::::::::::::::::::*/
  .faq-content {
    margin-top: 15px;
  }
  .single-faq h4 {
    padding-right: 60px;
    font-size: 16px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Blog Section
    ::::::::::::::::::::::::::::::::::::*/
  h4.blog-title {
    font-size: 16px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Call to Action Area
    ::::::::::::::::::::::::::::::::::::*/
  .cta-button {
    text-align: left;
    margin-top: 15px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Why choose Me Section
    ::::::::::::::::::::::::::::::::::::*/
  .single-why-me h4 {
    font-size: 20px;
  }
  .why-me-right .why-me-icon,
  .why-me-left .why-me-icon {
    position: relative;
    height: 100px;
  }
  .single-why-me.why-me-right,
  .single-why-me {
    padding: 0;
    text-align: center;
  }

  /*::::::::::::::::::::::::::::::::::::
       Team Section
    ::::::::::::::::::::::::::::::::::::*/
  .single-team {
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Pricing Area
    ::::::::::::::::::::::::::::::::::::*/
  .single-price-box {
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Contact Area 
    ::::::::::::::::::::::::::::::::::::*/
  .contact-form {
    padding: 15px;
  }
  .info-div {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*::::::::::::::::::::::::::::::::::::
       Main Menu
    ::::::::::::::::::::::::::::::::::::*/
  .navbar.navbar-expand-lg.fixed-top {
    position: static;
    background-color: #000;
  }
  button.navbar-toggler {
    color: #fff;
  }

  .navbar-nav {
    background-color: #333;
    margin-top: 30px;
  }
  .nav-item {
    border-bottom: 1px solid;
  }
  nav .main-menu .navbar-nav .nav-item .nav-link {
    padding: 15px 15px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Hero Area 
    ::::::::::::::::::::::::::::::::::::*/
  .hero-content h2 {
    font-size: 50px;
  }

  .hero-content h3 {
    font-size: 20px;
    margin: 15px 0;
  }

  .hero-aria::after {
    width: 70%;
  }
  .hero-content {
    max-width: 65%;
  }
  /*::::::::::::::::::::::::::::::::::::
       Portfolio Section
    ::::::::::::::::::::::::::::::::::::*/
  .work-list ul li {
    margin-bottom: 5px;
  }
  .portfolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  #gitstats {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 110px; */
    margin-top: 50px;
  }

  /*::::::::::::::::::::::::::::::::::::
       About Area
    ::::::::::::::::::::::::::::::::::::*/
  .about-content {
    margin-top: 30px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Service Section
    ::::::::::::::::::::::::::::::::::::*/
  .service-area::before {
    height: 100%;
  }

  /*::::::::::::::::::::::::::::::::::::
       Skill Section
    ::::::::::::::::::::::::::::::::::::*/
    .skilldiv{
      grid-template-columns: repeat(1,200px);
    }

  /*::::::::::::::::::::::::::::::::::::
       Frequently asked questions
    ::::::::::::::::::::::::::::::::::::*/
  .faq-content {
    margin-top: 15px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Call to Action Area
    ::::::::::::::::::::::::::::::::::::*/
  .cta-button {
    text-align: left;
    margin-top: 15px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Team Section
    ::::::::::::::::::::::::::::::::::::*/
  .single-team {
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }
  /*::::::::::::::::::::::::::::::::::::
       Pricing Area
    ::::::::::::::::::::::::::::::::::::*/
  .single-price-box {
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }

  /*::::::::::::::::::::::::::::::::::::
       Contact Area 
    ::::::::::::::::::::::::::::::::::::*/
  .contact-form {
    padding: 30px;
  }
  .info-div {
    width: 50%;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Wide Mobile Layout: below 480px. */

@media only screen and (min-width: 100px) and (max-width: 480px) {
  .single-p {
    height: 650px;
  }
}

/* ================================= */

/* =================================================== */

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
  
}
@media screen and (min-width: 200px) and (max-width: 600px){
  #box7{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}


.box4 {
  margin-top: -100px;
  font-size: 25px;
  font-weight: bolder;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.box41{
  width: fit-content;
  margin: auto;
  text-align: center;  
}
.box41>h1{
  padding: 5px;
  border-radius: 12px;
  color: black;
  font-weight: bolder;
}

.skills-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.skills-list div{
  background : #E0E0E0;
  padding: 40px;
  font-size: 15px;
  border-radius: 10px;
  transition: background 0.5s,transform 0.5s;
}
.skills-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.skills-list div h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.skills-list div:hover{
  background: rgb(20,180,220);
  color: #E0E0E0;
  transform: translateY(-10px);
}